@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 26% 94%;
    --backgroundAccent: 228 26% 100%;
    --foreground: 72 11% 9%;
    --foregroundAccent: 0 0% 65%;

    --test: 360 89% 19%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 219 95% 63%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 8%;
    --backgroundAccent: 231 10% 13%;
    --foreground: 220 11% 89%;
    --foregroundAccent: 0 0% 65%;

    --test: 231 10% 13%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 219 95% 63%;
    --primary-foreground: 0 0% 98%;

    --secondary: 230 9% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hover-text {
  @apply text-foregroundAccent hover:text-foreground cursor-pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 7px;
}
.scrollbar-hide::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: rgba(55, 55, 55, 0.8); 
  border-radius: 10px;
}

.chart-box-parent {
  @apply w-full h-full bg-backgroundAccent rounded-md shadow-lg p-3;
}

.chart-box-header {
  @apply flex items-center gap-2 pb-3 p-2 border-b mb-2;
}

.chart-box-icon {
  @apply bg-secondary p-2 rounded-full;
}

.chart-box-content {
  @apply flex gap-2 items-center pt-2;
}

.chart-box-parent {
  @apply w-full h-full bg-backgroundAccent rounded-md shadow-lg p-3;
}

.chart-box-header {
  @apply flex items-center gap-2 pb-3 p-2 border-b mb-2;
}

.chart-box-icon {
  @apply bg-secondary p-2 rounded-full;
}

.chart-box-content {
  @apply flex gap-2 items-center pt-2;
}

.rdp-vhidden {
  @apply hidden;
}

.rdp-caption_dropdowns{
  display: flex;
  gap: 6px;
  outline: none;
  font-size: 5px;
}

.no-outline-bgAccent {
  @apply focus-visible:bg-backgroundAccent focus-visible:ring-transparent;
}